
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.hero-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
}
body html {
  background-color: #f8f9fa;
  color: #ffffff;
  overflow-x: hidden;
}
.hero-container {
  background-color: #49BBBD;   
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
    min-height: auto !important; 
    height: 580px;
    overflow: hidden; 
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px; 
  gap: 20px;
  flex-wrap: wrap;
}
.hero-container {
  background-color: #49BBBD;
  padding: 5px 8% 100px 8%;
  min-height: 650px;
 
    }
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.logo {
  display: flex;
  align-items: center;
}
.totc-logo {
  position: relative;
  width: 140px; 
  height: 60px;
  display: flex;
  align-items: center;
}

.diamond-bg {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 4px solid #00FFF0;  
  border-radius: 8px;       
  transform: rotate(45deg);   
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  left: 10px;
}

.logo-text {
  position: relative;
  z-index: 2;
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 1px;
  margin-left: 20px; 
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px; 
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: #FFFFFF;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  opacity: 1;
  font-weight: 600;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 15px;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600;
}

.btn-login {
  background-color: #FFFFFF;
  color: #5B5B5B;
}

.btn-login:hover {
  background-color: #49BBBD;
  color: white ;
  border: 2px solid white;
}
.btn-signup {
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
}
.btn-signup:hover {
  background-color: white;
  color:  #49BBBD ;}


.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 40px;
}

.hero-text {
  flex: 1;
  max-width: 550px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.25;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-text .highlight {
  color: #F48C06;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #e2f7f7;
  margin-bottom: 15px;
}

.hero-cta {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btn-primary {
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
  padding: 14px 32px;
  font-size: 16px;
  
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #49BBBD;
}

.btn-watch {
  background: none;
  border: none;
  color: #ffffff; 
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.play-icon {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  color: #49BBBD;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding-left: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: auto;
  max-width: 200px;
  height: 400px;
  object-fit: cover;
}

  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 40px;
    flex-wrap: wrap;
    position: relative;
  }
.hero-image img {
  width: auto;
  max-width: 780px;
  height: 570px;
  max-height: 450px;  
  transform: rotate(-3deg);   
  margin-right: 60px;   
}
.group-pic{
  position: absolute;
  top:55px;
  left: 630px !important;
  height: 300px !important;
  width: 250px;
  transform: rotate(0deg) !important;
  flex-wrap: wrap;
 
}
.image-cont2 {
  position: relative;
  display: inline-block;
}

.image-cont2 img {
  width: 100%;
  display: block;
  border-radius: 20px; 
}

.pic-text {
  position: absolute;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  text-align: center;
  width: 100%;
  width: 150px;
  height: 160px;
}
.start{
  height: 250px;
  border: 2px solid white;
}
  .our{
    margin-top: 5px;
  }
  .success{
    font-family: Buenos Aires Trial;
font-weight: 700;
font-style: Bold;
font-size: 48px;
color: black;
line-height: 130%;
letter-spacing: 0px;
text-align: center;
  }
  .para{
    font-family: Buenos Aires Trial;
    font-weight: 400px;
    font-style: Regular;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: center;
    color: black;
    margin-top: 15px;
  }
.rating{
    display: flex;
    justify-content: center; 
    gap: 40px;             
    flex-wrap: wrap;        
    margin: 40px auto;    
    cursor: pointer;    
}
.item {
    text-align: center;
    flex-direction: column;
    align-items: center;    
}
.item span {
  background: linear-gradient(to right, #1F78BC, #3AB5C4); 
  font-family: 'Poppins', sans-serif; 
  font-size: 70px;  
  background: linear-gradient(to right, #1F78BC, #3AB5C4);
  background-clip: text; 
  color: transparent; }
.item p {
  font-family: Buenos Aires Trial;
  font-weight: 400px;
  font-style: Regular;
  font-size: 28px;
  color: black;
  line-height: 1;
  letter-spacing: 0px;
    margin-top: 5px;}
    .cloud_soft{
      margin-top: 70px;
    }
    .cloud{
      color: rgb(47, 50, 125);
      font-family: Poppins;
      font-weight: 700px;
      font-size: 32px;
      line-height: 180%;
      letter-spacing: 0%;
      text-align: center;
  
    }
.software{
  font-family: Poppins;
font-weight: 700;
font-size: 32px;
color: rgb(0, 203, 184);
line-height: 180%;
letter-spacing: 0%;
}
.para1{
  font-family: Poppins;
font-weight: 400px;
font-size: 16px;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
color: black;

}
.card_container{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  flex-wrap: wrap;
}
.img{
  background-color:  rgba(91, 114, 238, 1);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.docs{
  height: 50px;
  width: 40px;
  background-color: transparent;
}
.card{
  height: 320px;
  width: 350px;
 background-color: rgba(255, 255, 255, 1);
 border-radius: 20px;
cursor: pointer;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;}
 .card:hover {
  transform: translateY(-30px); 
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25); 
}

h3{
  color: rgb(47, 50, 125);
  text-align: center;
margin-top: 40px;
  font-weight: bolder;
  text-align: center;
  font-family: Poppins;
}
.para2{
  font-family: Poppins;
font-weight: 400px;
font-size: 16px;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
color:rgba(105, 105, 132, 1);
;
margin-top: 15px;
}
.section {
    display: flex;
    justify-content: center; 
    gap: 30px;       
    padding: 80px 20px;
    flex-wrap: wrap;       
}

.card {
    position: relative;
    background-color: #ffffff;
    padding: 60px 25px 35px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.04); 
    text-align: center;
    width: 320px;           
    margin-top: 40px;       
}

.card h3 {
    color: #25265e;
    font-size: 20px;
    margin-bottom: 15px;
}

.card p {
    color: #696984;
    font-size: 14px;
    line-height: 1.6;
}

.icon-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-circle img {
    width: 30px;
    height: auto;
}
.blue-bg {
    background-color: #5d78ff;
    box-shadow: 0 10px 20px rgba(93, 120, 255, 0.2);
}

.green-bg {
    background-color: #00c9a7;
    box-shadow: 0 10px 20px rgba(0, 201, 167, 0.2);
}

.teal-bg {
    background-color: #29b6f6;
    box-shadow: 0 10px 20px rgba(41, 182, 246, 0.2);
}
.toco1{
color:rgba(47, 50, 125, 1);
font-family: Poppins;
font-weight: 600;
font-size: 44px;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
}
.toco{
  color: #00c9a7;
  font-family: Poppins;
font-weight: 500px;
font-size: 38px;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
}
.para3{
  font-family: Poppins;
font-weight: 400px;
font-size: 18px;
line-height: 180%;
letter-spacing: 2%;
text-align: center;
color: rgba(105, 105, 132, 1);

}
.cont1{
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 60px;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
     .image-cont2:hover {
      transform: translateY(-30px); 
      box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25); 
    }
.image-cont2:hover {
    transform: scale(.99);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

}
.img-cont2{
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: relative;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 6px;
}
image-cont2:hover img {
  transform: scale(1.05);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.pic-text{
  height: auto;
  width: 600px;
  position: absolute;
}
.text-p2{
  height: auto;
  width: 300px;
}
.btn-start{
  background-color: transparent;
  border: 2px solid white;
  color: rgba(255, 255, 255, 1) ;
  border-radius: 50px;
    display: inline-block; 
    margin-top: 15px;     
  
}
.btn-start:hover {
  background-color: #ffffff;
  color: rgba(105, 105, 132, 1); ;
}
.btn-code:hover {
  background-color: #ffffff;
  color: rgba(35, 189, 238, 0.9);
  border: white;
}
.btn-code{
  background-color: transparent;
  border: 2px solid rgba(35, 189, 238, 0.9);
  color: rgba(255, 255, 255, 1);
  border-radius: 50px;
    display: inline-block; 
    margin-top: 15px;     
    background-color: rgba(35, 189, 238, 0.9);
}
.classroom-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  display: block;
}
.card-container {
  width: 90%;
  max-width: 1000px;
  margin: 70px auto 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: grid !important; 
  grid-template-columns: 1fr 400px; 
  align-items: center;
  gap: 90px;
  margin-top: 90px;
}

.content {
  position: relative; 
  z-index: 2;
  text-align: left !important;
}
.green-circle {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #33EFA0;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: -1; 
}
.bg-circle {
  top: 5px;    
  left: -20px;   
}
.blue {
  color: rgba(47, 50, 125, 1);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 160%;
  text-align: left;
}

.aqua {
  color: rgb(32, 210, 193);
}
.text1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: rgba(105, 105, 132, 1);
  margin-top: 15px;
  margin-left: 0 !important;
  text-align: left !important;
}
.picture {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 20px;
  display: block;
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; 
    gap: 30px;
  }
}

  @media (max-width: 992px)
   {
    .hero-container {
      padding-bottom: 120px; 
      background-color: #49BBBD;   
      position: relative;
      margin-bottom: 0;
      padding-bottom: 0;
        min-height: auto !important; 
        height: 580px;
        overflow: hidden; 
    }
.hero-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
}
  }
  
@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav {
    gap: 20px;
  }

  .nav-links {
    display: none;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-cta {
    justify-content: center;
  }

  .hero-image {
    justify-content: center;
    margin-top: 20px;
  }

}

@media (max-width: 576px) {
  .hero-text h1 {
    font-size: 32px;
  }

  .hero-cta {
    flex-direction: column;
    gap: 15px;
  }

  .hero-container {
    padding-bottom: 60px;
    border-bottom-left-radius: 20% 4%;
    border-bottom-right-radius: 20% 4%;
  }
}
